<div class="row">
	<div class="col-md-3">
		<%= image_tag @builder.image_url %>

		<h2>
		  <%= @builder.name %>
		</h2>

		<p>
		  <strong>Address:</strong>
		  <%= @builder.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @builder.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @builder.website, @builder.website %>
		</p>

		<%= link_to "Write Review", new_builder_review_path(@builder), class: "btn btn-primary" %>
	<br>	
	<%= link_to 'Edit', edit_builder_path(@builder) , class: "btn btn-link"%> |
	<%= link_to 'Back', builders_path , class: "btn btn-link"%>

	</div>



	<div class="col-md-9">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one!</h3>
		<% else %>
			<% @reviews.each do |review| %>
			  <div class="star-rating" data-score= <%= review.rating %> ></div>
			  <p><%= review.comment %></p>
			<% end %>
		<% end %>
	</div>
</div>





<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/homemakerbox2/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


